# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (single source)
# SQLite local example:
# DATABASE_URL=sqlite:////app/db.sqlite3
# PostgreSQL docker example:
DATABASE_URL=postgresql://postgres:postgres@db:5432/library_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
